In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'A':[15, 15, 18, np.nan, 9],
       'B':[15, 15, 18, np.nan, 9]}
df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4   9.0   9.0

## Mengenal pandas series

In [3]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4     9.0
Name: A, dtype: float64

Series pada dasarnya adalah kolom. <br>
Setiap kolom yang pada pandas dataframe memiliki tipe data series.

In [4]:
type(df['A'])

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

## Memeriksa kesamaan series dengan operator ==

In [7]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

Dari hasil di atas, dapat dilihat bahwa operator == tidak optimal membandingkan NaN

## Memeriksa kesamaan series dengan fungsi equals

In [8]:
df['A'].equals(df['B'])

True

## Memeriksa kesamaan antar dataframe

In [11]:
df1 = df.copy(deep=True)

In [12]:
df1.equals(df)

True