# Import Module

In [2]:
import pandas as pd
import numpy as np

# Check Version Module

In [3]:
print("Pandas version:",pd.__version__)
print("Numpy version:", np.__version__)

Pandas version: 1.1.4
Numpy version: 1.18.5

# DataFrame Preparation

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)

In [5]:
df

   A  B  C  D  E
0  2  8  8  9  5
1  5  6  5  6  6
2  3  3  1  2  1
3  6  6  8  8  5
4  5  2  3  4  4

## Menambah prefix nama kolom

Prefix adalah string di depan string tertentu

In [10]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        2        8        8        9        5
1        5        6        5        6        6
2        3        3        1        2        1
3        6        6        8        8        5
4        5        2        3        4        4

## Menambah suffix nama kolom

Suffix adalah string dibelakang string tertentu

In [12]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        2        8        8        9        5
1        5        6        5        6        6
2        3        3        1        2        1
3        6        6        8        8        5
4        5        2        3        4        4