In [1]:
import pandas as pd
import numpy as np

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  5  5  2  1  5
1  4  9  9  8  2
2  4  8  5  1  3
3  4  4  5  5  4
4  1  7  2  5  5
5  2  9  2  2  7
6  5  7  6  3  3
7  9  1  1  8  8
8  3  6  3  5  5
9  8  9  1  8  1

## Membagi data frame menjadi 2 bagian secara acak dengan proporsi tertentu

### Melihat shape (jumlah baris dan kolom) dataframe

In [3]:
df.shape

(10, 5)

In [4]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

In [14]:
df_1

   A  B  C  D  E
0  1  7  2  5  5
1  4  9  9  8  2
2  5  7  6  3  3
3  4  4  5  5  4
4  9  1  1  8  8
5  2  9  2  2  7
6  8  9  1  8  1

In [6]:
df_2

   A  B  C  D  E
0  5  5  2  1  5
2  4  8  5  1  3
8  3  6  3  5  5

In [8]:
print(f'Shape df_1 :{df_1.shape}')
print(f'Shape df_2 :{df_2.shape}')

Shape df_1 :(7, 5)
Shape df_2 :(3, 5)

In [9]:
df_1.index

Int64Index([4, 1, 6, 3, 7, 5, 9], dtype='int64')